<div class="input-demo checkbox-demo row">
  <!-- SEGUNDA -->
  <div class="col-md-12">
    <div style="color: red" class="has-error" ng-show="error.week"> {{error.week}}</div>
  </div>

  <div ng-repeat="(key, itemS) in itemSemana" class="form-group col-md-12">
    <label style="margin-top: 32px;" class="checkbox-inline custom-checkbox nowrap col-md-6">
      <input ng-model="itemS.active" type="checkbox" id="inlineCheckbox01" value="{{itemS.name}}">
      <span>{{itemS.title}}</span>
    </label>
    <div class="col-md-3" ng-class="{'has-error' : error.start}">
      <label for="input-templo-inico-{{itemS.name}}">Incio</label>
      <input ng-model="itemS.start" ng-disabled="!itemS.active" type="text" mask='99:99' class="form-control" id="input-templo-inicio-{{itemS.name}}">
    </div>

    <div class="col-md-3" ng-class="{'has-error' : error.finish}">
      <label for="input-templo-termino-{{itemS.name}}">Termino</label>
      <input ng-model="itemS.finish" ng-disabled="!itemS.active" type="text" mask='99:99' class="form-control" id="input-templo-termino-{{itemS.name}}">

    </div>

  </div>
</div>
