  
<style>
.form-group {
  position: relative;
}
</style>
<form>
  <div class="form-group " ng-class="{'has-error' : error.temple_name}">

    <label for="input-templo-nome">Nome do Templo</label>
   
    <input ng-model="form.temple_name" type="text" class="form-control" id="input-templo-nome" placeholder="Insira o nome do Templo">
    
    <span class="label-danger2" ng-show="error.temple_name" title="{{error.temple_name}}" >{{error.temple_name}}</span>
  </div>

  <!-- GET ENDEREÇO -->
  <div class="form-row row">

    <div class="form-group col-md-3" ng-class="{'has-error' : error.temple_address}">
      <label for="input-endereco">Endereço</label>
      <input ng-model="form.temple_address" type="text" class="form-control" id="input-endereco" ng-model="form.temple_address" placeholder="Informe o Endereço">
      <span class="label-danger2" ng-show="error.temple_address" title="{{error.temple_address}}" >{{error.temple_address}}</span>
    </div>

    <div class="form-group col-md-3" ng-class="{'has-error' : error.temple_number}">
      <label for="input-templo-nunero">Numero</label>
      <input ng-model="form.temple_number" type="text" class="form-control" id="input-templo-nunero" placeholder="Informe N">
      <span class="label-danger2" ng-show="error.temple_number" title="{{error.temple_number}}" >{{error.temple_number}}</span>
    </div>

    <div class="form-group col-md-3" ng-class="{'has-error' : error.temple_neighborhood}">
      <label for="input-templo-bairro">Bairro</label>
      <input ng-model="form.temple_neighborhood" type="text" class="form-control" id="input-templo-bairro" placeholder="Jardin Henriquieta">
      <span class="label-danger2" ng-show="error.temple_neighborhood" title="{{error.temple_neighborhood}}" >{{error.temple_neighborhood}}</span>
    </div> 

    <div class="form-group col-md-3" ng-class="{'has-error' : error.temple_city}">
      <label for="input-templo-cidade">Cidade</label>
      <input ng-model="form.temple_city" type="text" class="form-control" id="input-templo-cidade" placeholder="Taboão da Serra">
      <span class="label-danger2" ng-show="error.temple_city" title="{{error.temple_city}}" >{{error.temple_city}}</span>

    </div>

    <div class="form-group col-md-3" ng-class="{'has-error' : error.temple_uf}">
      <label for="input-templo-uf">UF</label>
      <select ng-model="form.temple_uf" ng-options="item for item in estados" id="input-templo-uf" class="form-control">
        <option value="">-- UF --</option>
      </select>
      <span class="label-danger2" ng-show="error.temple_uf" title="{{error.temple_uf}}" >{{error.temple_uf}}</span>

    </div>

    <div class="form-group col-md-12">
      <label for="">Status</label><br>
      <div ng-controller="novotemploCtrl as vm">
        <ba-switcher switcher-style="primary" switcher-value="vm.switches.btnStatus">
        </ba-switcher>
      </div>
    </div>
    
  
     

  </div>
  <br>
  <button ng-click="onSubmit()" class="btn btn-standart">Enviar</button>
</form>
  




















  <!-- <div class="form-group">
    <label for="input02">Password</label>
    <input type="password" class="form-control" id="input02" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="input03">Rounded Corners</label>
    <input type="text" class="form-control form-control-rounded" id="input03" placeholder="Rounded Corners">
  </div>
  <div class="form-group">
    <label for="input04">With help</label>
    <input type="text" class="form-control" id="input04" placeholder="With help">
    <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <div class="form-group">
    <label for="input05">Disabled Input</label>
    <input type="text" class="form-control" id="input05" placeholder="Disabled Input" disabled>
  </div>

  <div class="form-group">
    <label for="textarea01">Textarea</label>
    <textarea placeholder="Default Input" class="form-control" id="textarea01"></textarea>
  </div>

  <div class="form-group">
    <input type="text" class="form-control input-sm" id="input2" placeholder="Small Input">
  </div>
  <div class="form-group">
    <input type="text" class="form-control input-lg" id="input4" placeholder="Large Input">
  </div> -->
</form>