<templos-pie-chart></templos-pie-chart>

<div class="widgets" ng-controller="TemploController">

	<div class="row">
		<div class="col-md-12">
            
			<table id="datatable-row-highlight" class="table-responsive display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead data-class="expand">
                        <tr>
                            <th>#ID</th>
                            <th>Nome do Templo</th>
                            <th>Criado em:</th>
                            <th>Status</th>
                            <th>Endereço</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Numero</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>#ID</th>
                            <th>Nome do Templo</th>
                            <th>Criado em:</th>
                            <th>Status</th>
                            <th>Endereço</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Numero</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </tfoot>
                </table>
		</div>
    </div>
</div>


