  
<style>
.form-group {
  position: relative;
}
</style>
<form>
  <!-- GET MENSAGEM -->
  <div class="form-group">
    <label for="">Mensagem</label>
   <textarea ng-disable="" ng-model="form.message" class="form-control" name="" id="text-area-notificacao" cols="30" rows="10" placeholder=""></textarea>
  </div>
  <br>
  <button ng-click="onSubmit()" class="btn btn-standart">Salvar</button>

</form>
  
