<usuario-pie-chart></usuario-pie-chart>

<div class="widgets" ng-controller="UsuarioController">
	<div class="row">
		<div class="col-md-12">
			<table id="datatable-row-highlight" class="table-responsive display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
                <thead data-class="expand">
                    <tr>
                        <th>#ID</th>
                        <th>Nome</th>
                        <th>Cadastrado em:</th>
                        <th>email</th>
                        <th>Telefone</th>
                        <th>GPS</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#ID</th>
                        <th>Nome</th>
                        <th>Cadastrado em:</th>
                        <th>email</th>
                        <th>Telefone</th>
                        <th>GPS</th>
                    </tr>
                </tfoot>
            </table>
		</div>
	</div>
</div>

<div id="map">
    <maps></maps>    
</div>

<div id="dialog" style="display: none">
<!-- <div id="dvMap" style="height: 780px; width: 980px;"> -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 10px 15px 7px 0px;
        ;
        float: right;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #239c8f;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #239c8f;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>