<usuario-pie-chart></usuario-pie-chart>

<div class="widgets">
	<div class="row">
		<div class="col-md-12">
			<table id="datatable-row-highlight" class="table-responsive display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
                <thead data-class="expand">
                    <tr>
                        <th>#ID</th>
                        <th>Nome</th>
                        <th>Cadastrado em:</th>
                        <th>email</th>
                        <th>Telefone</th>
                        <th>GPS</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#ID</th>
                        <th>Nome</th>
                        <th>Cadastrado em:</th>
                        <th>email</th>
                        <th>Telefone</th>
                        <th>GPS</th>
                    </tr>
                </tfoot>
                </table>
		</div>
	</div>
</div>

<div id="map">
    <maps></maps>    
</div>

<div id="dialog" style="display: none">
<!-- <div id="dvMap" style="height: 780px; width: 980px;"> -->