<!-- <div class="row pie-charts">
    <div class="pie-chart-item-container" ng-repeat="chart in charts">
        <div ba-panel>
            <div class="pie-chart-item">
                <div class="chart" rel="{{ ::chart.color }}" data-percent="60"> <span class="percent"></span> </div>
                <div class="description">
                    <div>{{ ::chart.description }}</div>
                    <div class="description-stats">{{ ::chart.stats }}</div>
                </div>
                <i class="chart-icon i-{{ ::chart.icon }}"></i>
            </div>
        </div>
    </div>
</div> -->
<div class="row pie-charts">
    <!-- Botão de adicionar novo templo -->
    <!-- <div class="pie-chart-item-container">
        <button class="btn_new_tample btn btn-block">+ Adiconar novo Usuário</button>
    </div> -->

    <div class="pie-chart-item-container" ng-repeat="chart in charts">
        <div ba-panel>
            <div class="pie-chart-item">
                <div class="chart" rel="{{ ::chart.color }}" data-percent="60"> <span class="percent"></span> </div>
                <div class="description">
                    <div>{{ ::chart.description }}</div>
                    <div class="description-stats">{{ ::chart.stats }}</div>
                </div>
                <i class="chart-icon i-{{ ::chart.icon }}"></i>
            </div>
        </div>
    </div>
</div>

<style>
.btn_new_tample{
    padding: 46px 0;
    background-color: #219d90;
    font-weight: bold;
    color: #fff;
    cursor:  pointer;
}
.btn_new_tample:hover, .btn_new_tample:focus{
    color: #fff;
    transform: scale(1);
    background:#27b3a4;
}
#datatable-row-highlight_processing {
    padding: 8px 0px 0 20px;
    float: left;
}
</style>