<notificacoes-pie-chart></notificacoes-pie-chart>

<div class="widgets">

	<div class="row" ng-controller="NotificacoesController">
		<div class="col-md-12">
			<table id="datatable-row-highlight" class="table-responsive display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
                
                <thead data-class="expand">
                    <tr>
                        <th>#ID</th>
                        <th>Mensagem</th>
                        <th>Editar</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>#ID</th>
                        <th>Mensagem</th>
                        <th>Editar</th>
                    </tr>
                </tfoot>
            </table>
		</div>
	</div>
</div>
