<div class="checkbox-demo-row" ng-controller="novoregistroController">
<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Registrar Novo Templo"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/standardFields.html'"></div>
      </div>
      <!-- <div
          ba-panel
          ba-panel-title="Tags Input"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/tagsInput/tagsInput.html'"></div>
      </div>
      <div
          ba-panel
          ba-panel-title="Input Groups"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/inputGroups.html'"></div>
      </div>
      <div
          ba-panel
          ba-panel-title="Checkboxes & Radios"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/checkboxesRadios.html'"></div>
      </div>

      <div ba-panel ba-panel-title="On/Off Switches" ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/switches/switch.html'"></div>
      </div>

      <div ba-panel ba-panel-title="Old On/Off Switches (Deprecated)" ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/oldSwitches/switch.html'"></div>
      </div>
      <div
          ba-panel
          ba-panel-title="Datepicker"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/datePickers/datePickers.html'"></div>
      </div> -->

    </div>
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Agenda do Templo"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/novoregistro/inputs/widgets/checkboxesRadios.html'"></div>
      </div>
      <!-- <div
          ba-panel
          ba-panel-title="Validation States"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/form/inputs/widgets/validationStates.html'"></div>
      </div>
      <div
          ba-panel
          ba-panel-title="Selects"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/form/inputs/widgets/select/select.html'"></div>
      </div>-->
      <!-- <div
          ba-panel
          ba-panel-title="Old selects(deprecated)"
          ba-panel-class="with-scroll">
        <div ng-include="'app/pages/form/inputs/widgets/oldSelect/select.html'"></div>
      </div>  -->
    </div>
  </div>

</div>
</div>