<div class="checkbox-demo-row" ng-controller="novotemploCtrl">
    <div class="widgets" ng-controller="NovoNotificacoesCtrl">
 
        <div class="row">
            <div class="col-md-6">
                <div ba-panel ba-panel-title="Editar Mensagem" ba-panel-class="with-scroll">
                    <div ng-include="'app/pages/notificacoes/novonotificacoes/widgets/form-edit-notificacoes.html'"></div>
                </div>
            </div>
        </div>

    </div>
</div>