<!-- <div> -->
	<!-- <ng-map center="-25.363882,131.044922" zoom="4">
	    <marker position="dataUser.lat, dataUser.lon" title="Hello World!"></marker>
	</ng-map> -->
<div class="box-map">
	<div class="btn-close-map">Fechar</div>
	<ng-map style="height: 100%;" zoom="12" center="[74.18, -74.18]">
		<marker id="foo" position="-23.59, -46.69" on-click="map.showInfoWindow('bar')">
			<info-window id="bar" visible-on-marker="foo">
				<div ng-non-bindable>
					<div id="siteNotice"></div>
					<div id="bodyContent">
						<div class="card-info-user">
							<div class="box-avatar">
								<img class="img-avatar" ng-src="https://pbs.twimg.com/profile_images/642430588343971840/Wg86hZKu_400x400.jpg">
							</div>
							<p><strong>Nome:</strong> {{dataUser.username}}</p>
							<p><strong>Email:</strong> {{dataUser.email}}</p>
							<p><strong>Cel:</strong> {{dataUser.phone_number}}</p>
						</div>
					</div>
				</div>
			</info-window>
		</marker>
	</ng-map>
</div>
<!-- </div> -->

<style>
	.box-map{
	    position: absolute;
	    top: 35%;
	    left: 0;
	    right: 0;
	    width: 70%;
	    height: 70%;
	    margin: 0 auto;
	}
	.card-info-user {
	    text-align: center;
	    padding: 20px;
	    box-sizing: content-box;
	}
	.box-avatar {
		display: inline-block;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    border: 2px solid #ccc;
	    overflow: hidden;
	    margin-bottom: 20px;
	}
	img.img-avatar {
	    object-fit: cover;
	    width: 100%;
	}
	.btn-close-map {
	    text-align: center;
	    font-size: 16px;
	    background-color: #fff;
	    display: inline-block;
	    padding: 2%;
	    border-radius: 5px;
	    color: #209e91;
	    text-transform: uppercase;
	    cursor: pointer;
	    margin-bottom: 20px;
	    margin: 0 auto;
	}
</style>



