<dashboard-pie-chart></dashboard-pie-chart>

<div id="map"></div>



<style>
  #map {
    height: 550px;
    width: 100%;
    }
  .box-map {
    text-align: center;
  }
  .card-info-user {
    text-align: center;
    padding: 20px;
    box-sizing: content-box;
  }

  .box-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    margin-bottom: 20px;
    margin: 5px auto 10px 25px;
  }

  img.img-avatar {
    object-fit: cover;
    width: 100%;
  }

  .btn-close-map {
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    display: inline-block;
    padding: 2%;
    border-radius: 5px;
    color: #209e91;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 0 auto;
  }
</style>