<div ng-controller="SwitchDemoPanelCtrl as vm">
    <ba-switcher switcher-style="primary" switcher-value="vm.switches.s1"></ba-switcher>
    
    <style>.switcher-container .switcher .handle-container .handle {background: #239c8f;}</style>
</div>